// ------------------------------------------
// Fonts
// ------------------------------------------

/* dm-sans-regular */
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/src/fonts/dm-sans-regular.woff2') format('woff2');
}

/* dm-sans-italic */
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: italic;
	font-weight: 400;
	src: url('/src/fonts/dm-sans-italic.woff2') format('woff2');
}

/* dm-sans-500 */
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 500;
	src: url('/src/fonts/dm-sans-500.woff2') format('woff2');
}

/* dm-sans-600 */
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 600;
	src: url('/src/fonts/dm-sans-600.woff2') format('woff2');
}

/* dm-sans-700 */
@font-face {
	font-display: swap;
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 700;
	src: url('/src/fonts/dm-sans-700.woff2') format('woff2');
}

/* outfit-regular */
@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 400;
	src: url('/src/fonts/outfit-regular.woff2') format('woff2');
}

/* outfit-500 */
@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 500;
	src: url('/src/fonts/outfit-500.woff2') format('woff2');
}

/* outfit-600 */
@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	src: url('/src/fonts/outfit-600.woff2') format('woff2');
}

/* outfit-700 */
@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	src: url('/src/fonts/outfit-700.woff2') format('woff2');
}

/* outfit-900 */
@font-face {
	font-display: swap;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 900;
	src: url('/src/fonts/outfit-900.woff2') format('woff2');
}
